<div class="item">
    <div class="arrow-pointer position-absolute"><i class="fas f-6 fa-long-arrow-alt-down"></i></div>
    <div class="nav-height"></div>
    <div class="row center-elements" style="height: calc(100% - 5rem);">
        <button class="close bg-transparent position-absolute">
            <i class="f-5 rotate-anim cursor-pointer fas fa-times z-20"></i>
        </button>
        <button type="button" data-fill-to="right"
                class="open  bg-transparent cursor-pointer position-absolute">
            <i class="f-10 fas fa-fingerprint"><br /><span>Alterar Senha</span></i>
        </button>

        <div class="row center-elements content col-10 l-col-12 max-h p-1">
            <div class="row col-11 align-items-center l-col-12 col-12-child max-h content-container">
                <form action="/Query/UpdatePassword" method="post" data-form-validate="true" data-form-request-sender="true" data-on-success="(res) => {createToast(res.message, res.index)}" data-on-failure="(res) => {createToast(res.message, res.index)}">
                    <h1 class="f-8 text-align-center profile-title">Senha</h1>
                    <h2 class="f-4 m-y-3 label-title">Senha Atual</h2>
                    <div class="row m-t-4 customized-input max-w no-wrap">
                        <div class="col-1 row icon-input">
                            <i class="fas fa-unlock"></i>
                        </div>
                        <input placeholder="Senha Atual" class="col-11" type="password" name="currentPassword" />
                    </div>
                    <h2 class="cursor-pointer m-t-2 font-hammer">Esqueci minha senha</h2>
                    <div class="row m-t-4 customized-input max-w no-wrap">
                        <div class="col-1 row icon-input">
                            <i class="fas fa-key"></i>
                        </div>
                        <input data-val-password data-val-min-length="8" data-val-field="Senha" data-val-equalto="[data-id=confirm-new-password]" placeholder="Nova Senha" class="col-11" type="password"
                               name="newPassword" />
                    </div>
                    <div class="row m-t-4 customized-input max-w no-wrap">
                        <div class="col-1 row icon-input"><i class="fas fa-fingerprint"></i></div>
                        <input data-id="confirm-new-password" placeholder="Confirmar Nova Senha" class="col-11" type="password"
                               name="confirmNewPassword" />
                    </div>

                    <input data-anim-to-black type="submit" value="Alterar Senha"
                           class="p-y-3 b-0 cursor-pointer m-t-4 max-w bg-white">
                </form>
            </div>
        </div>
    </div>
</div>