<div class="item">
    <div class="nav-height"></div>
    <div class="row center-elements" style="height: calc(100% - 5rem);">
        <button class="close bg-transparent position-absolute">
            <i class="f-5 rotate-anim cursor-pointer fas fa-times z-20"></i>
        </button>
        <button type="button" data-item-button data-fill-to="left"
                class="open  bg-transparent cursor-pointer position-absolute">
            <i class="f-10 fas fa-users"><br /><span>Usuários</span></i>
        </button>

        <div class="row center-elements content col-10 l-col-12 max-h p-1">
            <div class="overflow-hidden max-size">
                <div data-content="customer" class="content-slider max-size">
                    <div class="min-max-w max-size flex direction-column">
                        <div class="header fg-0">
                            <div class="row no-wrap center-elements m-b-3">
                                <h2 class="f-8 text-align-center profile-title">
                                    Todos os Usuários
                                </h2>
                            </div>

                            <div class="row customized-input no-wrap" style="width: 99.5%;">
                                <div class="col-1 row icon-input"><i class="fas f-3 fa-bullseye"></i></div>
                                <input class="col-10" type="text" name="name"
                                       placeholder="Procure por Nome ou CPF" />
                                <button data-anim-to-black class="col-1 cursor-pointer edit-btn row">
                                    <i class="f-3 fas fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>

                        <div class="table-content text-align-center-child max-w fg-1">
                            @foreach (var c in TCC_LOSPACO.DAO.AccountDAO.GetList()) {
                                @Html.Partial("Profile/TableItem/_Costumer", c);
                            }
                        </div>
                    </div>
                    <div class="form row center-elements min-max-w max-size">
                        <div class="row col-11 l-col-12 col-12-child p-1 max-h content-container">
                            <div class="max-w row col-12-child align-items-center">
                                <div>
                                    <div class="m-t-8 max-w row no-wrap center-elements">
                                        <button data-follow-smoothly
                                                class="bg-transparent cursor-pointer p-3 m-x-2 back-to-data-btn">
                                            <i class="f-6 m-f-4 fas fa-chevron-left"></i>
                                        </button>
                                        <h2 class="f-7 font-jos text-align-center profile-title">
                                            Dados de <b class="bolder font-jos f-7 profile-title title-focus"></b>
                                        </h2>
                                    </div>
                                    <div class="f-3 m-t-5 label-title">Email</div>
                                    <div class="row m-t-3 customized-input no-wrap">
                                        <div class="col-2 row icon-input">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <input disabled class="col-10" data-id="email" type="email" />
                                    </div>
                                    <div class="f-3 m-t-5 label-title">Nome Completo</div>
                                    <div class="row m-t-3 customized-input no-wrap">
                                        <div class="col-2 row icon-input">
                                            <i class="fas fa-signature"></i>
                                        </div>
                                        <input disabled class="col-10" data-id="name" type="text" />
                                    </div>
                                    <div class="f-3 m-t-5 label-title">CPF</div>
                                    <div class="row m-t-3 customized-input no-wrap">
                                        <div class="col-2 row icon-input">
                                            <i class="fas fa-id-card"></i>
                                        </div>
                                        <input disabled class="col-10" data-id="cpf" type="number" />
                                    </div>
                                    <div class="f-3 m-t-5 label-title">Número</div>
                                    <div class="row m-t-3 customized-input no-wrap">
                                        <div class="col-2 row icon-input">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <input disabled class="col-10" data-id="number" type="number" />
                                    </div>
                                    <div class="f-3 m-t-5 label-title">Nome de Exibição</div>
                                    <div class="row m-t-3 customized-input no-wrap">
                                        <div class="col-2 row icon-input">
                                            <i class="fas fa-signature"></i>
                                        </div>
                                        <input disabled class="col-10" data-id="username" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>