
<aside class="position-fixed z-15 aside-menu d-l-none">
    <ul class="m-y-6-child">
        <li>
            Home <div class="cursor-pointer menu-circle overflow-hidden">
                <div class="circle bg-white max-size"></div>
            </div>
        </li>
        <li>
            Sobre <div class="cursor-pointer menu-circle overflow-hidden">
                <div class="circle bg-white max-size"></div>
            </div>
        </li>
        <li>
            Promesas <div class="cursor-pointer menu-circle overflow-hidden">
                <div class="circle bg-white max-size"></div>
            </div>
        </li>
        <li>
            Serviços <div class="cursor-pointer menu-circle overflow-hidden">
                <div class="circle bg-white max-size"></div>
            </div>
        </li>
        <li>
            Pacotes <div class="cursor-pointer menu-circle overflow-hidden">
                <div class="circle bg-white max-size"></div>
            </div>
        </li>
        <li>
            Contato <div class="cursor-pointer menu-circle overflow-hidden">
                <div class="circle bg-white max-size"></div>
            </div>
        </li>
    </ul>
</aside>

<section class="main-container">
    <div class="main-carousel carousel-container">
        <i class="fas fa-chevron-down position-absolute z-10 f-6 white"
           style="bottom: 5%; left: 50%; transform: translateX(-50%);"></i>
        <div class="main-text col-5 m-col-8 position-absolute row z-10">
            <h2 class="white max-w font-hammer s-f-9 title" style="font-size: 6rem;">Lo'Spaço</h2>
            <p class="white f-4 m-f-2 s-f-0">
                Em nosso SPA encontram-se os melhores profissionais na área com produtos
                de linha!
                Não perca esta oportunidade e venha relaxar conosco
            </p>
            <div data-follow-smoothly class="m-y-2 p-2">
                <button class="main-btn p-3 bg-transparent b-0 white cursor-pointer">
                    Comece
                    já!!!
                </button>
            </div>
        </div>
        <div class="carousel-slider" style="height: 100vh;">
            <div class="carousel-item div-img bg-fixed"
                 style="background-image: url('https://picsum.photos/id/681/1920/1082');">
            </div>
            <div class="carousel-item div-img bg-fixed"
                 style="background-image: url('https://picsum.photos/id/615/1920/1082');">
            </div>
            <div class="carousel-item div-img bg-fixed"
                 style="background-image: url('https://picsum.photos/id/338/1920/1082');">
            </div>
        </div>
    </div>
</section>
<section class="container about-container d-l-none">
    <div class="content m-t-9">
        <div class="effect-content xl-w m-y-9">
            <div class="box-text row center-elements s-h z-4 bg-white" style="transform: translateX(20%);">
                <div class="content m-y-3-child xxl-w">
                    <h2 class="f-10 text-align-center">Reflita</h2>
                    <p class="f-2">
                        Sair é bom, mas deitar na cama depois de um banho quentinho é 1000x melhor!
                        Então quando voltar do passeio, faça isso...
                    </p>
                </div>
            </div>
            <div class="max-w max-h">
                <div class="box xxl-h z-3" style="transform: translateX(-20%);">
                    <img class="img-img" src="https://picsum.photos/id/883/650" />
                </div>
            </div>
            <div class="max-w max-h z-3 row justify-content-end ">
                <div class="box2 xl-w xl-vh z-max position-absolute"
                     style="transform: translateX(20%); opacity: 0;">
                    <img class="img-img" src="https://picsum.photos/id/652/650" />
                </div>
            </div>
            <div class="box2-text z-4 row center-elements l-h xl-w bg-white"
                 style="transform: translateX(-20%); opacity: 0;">
                <div class="content xl-w m-y-2-child">
                    <h2 class="f-6">Se alimente</h2>
                    <p class="f-2">Foi comprovado que é necessário comer</p>
                    <h2 class="f-6">Escove os dentes</h2>
                    <p class="f-2">Comprova-se que escovar faz bem</p>
                    <h2 class="f-6">Tome banho</h2>
                    <p class="f-2">Na Europa 3 dias sem banho é normal</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container middle-container bg-black" style="border-top: .1px  solid black;">
    <div class="promises-container row center-elements m-y-9 s-m-none overflow-hidden ">
        <div class="row col-4-child l-col-12-child l-w m-y-3-child">
            <div class="op-0 white promise-content row center-elements" style="transform: translateY(100%)">
                <div class="m-3-child text-align-center">
                    <i class="far f-10 s-f-5 fa-smile-wink"></i>
                    <h2 class="f-4 s-f-2">Fuja com os seus sentidos</h2>
                    <p class="f-2 s-f-0">
                        Escape da rotina e venha experimentar as essências relaxantes que nosso SPA
                        tem a oferecer!
                    </p>
                </div>
            </div>
            <div class="op-0 white promise-content row center-elements" style="transform: translateY(200%)">
                <div class="m-3-child text-align-center">
                    <i class="fas f-10 s-f-5 fa-music"></i>
                    <h2 class="f-4 s-f-2">Música, massagem e zzz...</h2>
                    <p class="f-2 s-f-0">
                        Terapias tato-auditivas que vão proporcionar a calmaria que você precisa
                        para
                        noite de sono tranquila.
                    </p>
                </div>
            </div>
            <div class="op-0 white promise-content row center-elements" style="transform: translateY(300%)">
                <div class="m-3-child text-align-center">
                    <i class="fab f-10 s-f-5 fa-canadian-maple-leaf"></i>
                    <h2 class="f-4 s-f-2">Flor de Lótus, estrela, árvore</h2>
                    <p class="f-2 s-f-0">
                        Aulas de yoga com meditação que te permitirá olhar mais para si e aliviar o
                        estresse.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w m-vh img-1">
        <div class="div-img max-size bg-fixed"
             style="background-image: url('  https://images.pexels.com/photos/395196/pexels-photo-395196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
        </div>
    </div>
    <div class="max-w m-vh img-2">
        <div class="div-img max-size bg-fixed"
             style="background-image: url('https://picsum.photos/id/861/1920/1080');">
        </div>
    </div>
</section>
<section class="container services-container d-l-none">
    <div class="row justify-content-center p-y-7 overflow-hidden">
        <div class="content m-y-2-child max-w">
            <h2 class="f-8 s-f-5 service-h1 text-align-center" style="right: 50%; transform: translateX(-50%);">
                Serviços
            </h2>
            <p class="f-3 s-f-2 service-p text-align-center" style="left: 50%; transform: translateX(50%);">
                Todos os
                serviços
                disponíveis
            </p>
        </div>
    </div>
    <div class="max-w xxl-vh row services">
        <div class="position-absolute row z-2 search-for-service-div" style="width: 400px; height: 50px;">
            <button data-follow-smoothly
                    class="col-2 row center-elements center-service-btn bg-black cursor-pointer">
                <div class="xl-w xl-h row center-elements">
                    <i class="fas white f-3 fa-bullseye"></i>
                </div>
            </button>
            <input class="col-8 text-align-center" type="text"
                   placeholder="Procure por um serviço" style="border: solid 1px white;outline: none">
            <button data-follow-smoothly
                    class="row center-elements col-2 search-service-btn bg-black cursor-pointer">
                <div class="xl-w xl-h row center-elements">
                    <i class="fas white f-3 fa-chevron-right"></i>
                </div>
            </button>
        </div>
        <div class="max-w max-h cursor-pointer-child services-content overflow-hidden">
            <!--GENERATED BY CODE-->
        </div>
    </div>
</section>
<section class="container package-container overflow-hidden">
    <div class="row justify-content-center">
        <div class="row bg-black max-w justify-content-center p-y-7 overflow-hidden">
            <div class="content m-y-2-child max-w white">
                <h2 class="f-8 s-f-5 package-h1 text-align-center" style="right: 50%; transform: translateX(-50%);">
                    Pacotes
                </h2>
                <p class="f-3 s-f-2 package-p text-align-center" style="left: 50%; transform: translateX(50%);">
                    Principais Pacotes
                </p>
            </div>
        </div>

        <div class="row justify-content-center max-w div-img" style="background-image: url('https://picsum.photos/id/196/1920/1080/?blur=7');">
            <div class="xxl-w p-y-8 justify-content-center row col-4-child l-col-12-child p-4-child">
                @{ 
                    var packageList = TCC_LOSPACO.DAO.PackageDAO.GetList();
                    int listCount = packageList.Count >= 3 ? 3 : packageList.Count;
                }
                @for (int i = 0; i < listCount; i++) {
                    ViewBag.PackageIndex = i + 1;
                    @Html.Partial("Home/_Package", packageList.ElementAt(i));
                }

            </div>
        </div>
    </div>
</section>
<popup data-id="contact" class="z-max position-fixed max-size contact-pop pop-up row center-elements">
    <div data-close-pop-up="contact" class="position-absolute max-size main-light-bg"></div>
    <div class="s-w l-xxl-w">
        <i data-close-pop-up="contact"
           class="white f-4 rotate-anim position-absolute cursor-pointer z-5 fas fa-times"
           style="right: 10px; top: 10px;"></i>
        <form action="" class="row center-elements bg-black p-y-5">
            <div class="xl-w s-max-w">
                <div class="row m-b-2-child white center-elements">
                    <h2 class="f-8 s-f-4 text-align-center font-hammer">Contate-nos</h2>
                    <p class="f-2 s-f-0 font-mont">
                        Aqui você pode tirar qualquer dúvida relacionada ao SPA,
                        faremos de tudo
                        para responde-lo o mais rápido possível!
                    </p>
                </div>
                <div>
                    <div class="m-y-3 row center-elements justify-content-between">
                        <div class="input-container" style="width: 49%">
                            <input class="input white p-4 max-size bg-transparent" placeholder="Nome..."
                                   type="text" name="name">
                        </div>
                        <div class="input-container" style="width: 49%">
                            <input class="input white p-4 max-size bg-transparent" placeholder="Email..."
                                   type="email" name="email">
                        </div>
                    </div>
                    <div class="row input-container center-elements">
                        <textarea placeholder="Sua mensagem..." class="white input bg-transparent col-12 p-4"
                                  rows="4" name="" id="" style="resize: none;"></textarea>
                    </div>
                </div>
                <button data-zoom="1.1, 1s" type="button"
                        class="sub-btn max-w cursor-pointer m-t-4 p-2 bg-white">
                    Enviar
                </button>
            </div>
        </form>
    </div>
</popup>
<section class="container overflow-hidden contact-container">
    <div class="row justify-content-center">
        <div class="row max-w justify-content-center p-y-7 overflow-hidden">
            <div class="content m-y-2-child max-w">
                <h2 class="f-8 s-f-5 contact-h1 text-align-center" style="right: 50%; transform: translateX(-50%);">
                    Contato
                </h2>
                <p class="f-3 s-f-2 contact-p text-align-center" style="left: 50%; transform: translateX(50%);">
                    Tire
                    suas dúvidas
                </p>
            </div>
        </div>
        <div class="row xl-vh m-m-vh max-w">
            <div class="row col-6 l-col-12 center-elements">
                <fieldset class="l-w p-6 b-0 contact-fieldset">
                    <legend class="f-8 p-x-1 s-f-5 font-jos">Contato</legend>
                    <div class="xl-w">
                        <p class="f-4 s-f-1">
                            Suas perguntas são especiais e sempre bem-vindas
                        </p>
                    </div>
                    <div class="row justify-content-center contact-btn" style="width: 150px;">
                        <button data-open-pop-up-from-phone="contact"
                                class="bg-black p-3 col-12 s-f-0 l-col-6 white max-size">
                            <i class="fas fa-mouse-pointer"></i>
                            <div data-open-pop-up="contact"
                                 class="contact-btn-hover s-f-0 cursor-pointer row center-elements bg-white black max-w max-h position-absolute">
                                Fale conosco
                            </div>
                        </button>
                    </div>
                </fieldset>
            </div>
            <div class="div-img col-6 d-l-none"
                 style="background-image: url('https://picsum.photos/id/825/900/662')">
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        activeAside();
        activePackageContainer();
        homeScrollEffects();

        generateNewSignature().then(v => {
            sendRequest("post", "/Service/GetList", {}, {
                Loader: ".main-loader",
                ContentHeaders: [{ Key: "Authorization", Value: `Bearer ${v}` }],
                OnSuccess: res => {
                    const services = res.Services;
                    generateServices(".services-content", 25, 40, services);
                }
            });
        });


        activeCarousel({ carousel: ".main-carousel", time: .5, anim: "cubic-bezier(.73,.19,.14,.98)", interval: 5, overlap: true });
    </script>
}