@model TCC_LOSPACO.Models.Service

<div data-selected="false" class="data-item vertical-align-top" data-id="@Model.Name" data-table-of="Service">
    <div data-zoom="1.02, .5s"
         class="data-content cursor-pointer row center-elements bg-white max-size">
        <div class="row col-12-child m-y-2-child">
            <div class="f-3 name">@Model.Name</div>
        </div>
    </div>
</div>