@model TCC_LOSPACO.Models.Employee
<div class="data-item vertical-align-top" data-id="@Model.Id" data-table-of="Employee">
    <div data-zoom="1.02, .5s"
         class="data-content cursor-pointer row center-elements bg-white max-size">
        <div class="row col-12-child m-y-2-child">
            <div class="f-3">@Model.Name</div>
            <div class="f-2">@Model.CPF</div>
        </div>
    </div>
</div>